

#heading{

}

/* how to seltct the element in the flexbox container */
/* #flexcontent div:nth-child(1){
    margin-left: 20px;
    align-self:auto;
} */

.flexcontent{


}

.content{
    height: 300px;
    width: 600px;
    background-color: white;
    position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%); 
text-align: center;
align-content: center;
 border-radius: 10px;
 border-color: #4740401c;
 border-width: 5px;
}



#heading{
    font-size: 20px;
    font-family:"Philosopher" , sans-serif ;
    margin-bottom: 20px;
    font-size: 40px;
}

#text-content{
    font-family:"Mulish" , sans-serif ;
     margin-bottom: 20px;
}
blockquote::after , blockquote::before{
    content:'"';
}
#authername{
    float: right;
    margin-right: 20px;
}

.button-class{
    margin-left: 30px;
}

#line{
    color: #41295a;
    font-size: 20px;
    height: 20px;
    margin-top: 0px;
}
body{
    background-color: #41295a;    
 
    background-size: cover;
    
}
button{
    color: white;
    background-color: #41295a;
    font-family:"Philosopher" , sans-serif ;
}

#first-button ,#secoend-button{
border-radius: 5px;
cursor: pointer;
border: 1px solid #41295a;
height: 50px;

}
#first_button{
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
}
#tweeter-icon{
    
    font-size: 20px;
}


